
  <a class="btn btn-primary" href="/hahahalogout">Click here to Sign out</a>
 <a href="/amazon">amazon</a><br> 
 <a href="/bs">bs</a><br> 
 <a href="/flask">flask</a><br> 
 <a href="/fly">fly</a><br> 
 <a href="/glide">glide</a><br> 
 <a href="/great">great</a><br> 
 <a href="/__init__">__init__</a><br> 
 <a href="/key">key</a><br> 
 <a href="/lambda">lambda</a><br> 
 <a href="/map">map</a><br> 
 <a href="/numpy">numpy</a><br> 
 <a href="/os">os</a><br> 
 <a href="/pauk">pauk</a><br> 
 <a href="/print">print</a><br> 
 <a href="/return">return</a><br> 
